header {
  display: flex;
  justify-content: flex-start;
  background-color:var(--bleu);
  color: white;
  h1 {
    font-weight: bold;
    width: 50vw;
    font-size: 3em;
    text-align: left;
    margin:1%;
    text-transform: uppercase;
    letter-spacing: .2em;

  }
  ul {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
    
  }
  li{
    margin:10px;
    &:hover{
      font-weight: 800;
    }
  }
}
